---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Enlace from "../components/Enlace.astro";
---

<Layout description="Trabajemos juntos" title="Trabajemos">
  <main>
    <SectionContainer>
      <nav class="nav-links block rounded-full" style="display: block;">
        <Enlace href="/">Inicio</Enlace>
      </nav>
    </SectionContainer>

    <SectionContainer class="mb-7">
      <p>Aqui es donde esta mi seccion de contacto</p>
    </SectionContainer>

    <SectionContainer>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        architecto magni quo explicabo iusto nulla, repudiandae dolore, illum
        nemo ratione porro, recusandae id labore sapiente distinctio. Sapiente
        voluptas sit accusamus.
      </p>
    </SectionContainer>
  </main>
</Layout>
