---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Avatar from "../components/Avatar.astro";
import Presentation from "../components/Presentation.astro";
import SubTitle from "../components/SubTitle.astro";
import Briefcase from "../icons/Briefcase.astro";
import Experience from "../components/Experience.astro";
import CodeCircle from "../icons/CodeCircle.astro";
import MiGrid from "../components/MiGrid.astro";
import MiFooter from "../components/MiFooter.astro";
---

<Layout
  title="Portafolio de angelcgar ~ Desarrollador y Programador Web"
  description="Portafolio de angelcgar"
>
  <Header />
  <main class="max-w-5xl m-auto mt-16 pb-20 px-4">
    <SectionContainer class="py-14" id="sobre-mi">
      <Avatar />
      <Presentation />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <SubTitle>
        <Briefcase class="size-7" />
        Experiencia laboral
      </SubTitle>

      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <SubTitle>
        <CodeCircle class="size-7" />
        Proyectos
      </SubTitle>
      <MiGrid />
    </SectionContainer>

    <SectionContainer id="contacto">
      <MiFooter />
    </SectionContainer>

    <script>
      import "../scripts/menu.js";
    </script>
  </main>
</Layout>
