---
import Layout from "../layouts/Layout.astro";
import Avatar from "../components/Avatar.astro";
import MiGrid from "../components/MiGrid.astro";
import MiFooter from "../components/MiFooter.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/subComponents/iconos/Briefcase.astro";
---

<Layout
  title="Portafolio de angelcgar ~ Desarrollador y Programador Web"
  description="Portafolio de angelcgar"
>
  <main class="max-w-5xl m-auto mt-16 pb-20 px-4">
    <Avatar />
    <SectionContainer class="py-14">
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row text-white gap-x-4 pb-4 lg:pb-10"
      >
        Hey, soy angelcgar <a
          href="https://www.linkedin.com/in/angel-contreras-b45a66290/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi
        harum quos dignissimos illum laudantium eos, accusamus veniam blanditiis
        consectetur.
      </h2>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <MiGrid />
    <MiFooter />
  </main>
</Layout>
