---
import unnamed from "../imagenes/unnamed.png";
---

<div class="relative block items-center">
  <img
    alt="una imagen de angelcgar"
    src={unnamed.src}
    class="mx-auto object-cover rounded-full h-20 w-20"
  />
</div>
