---

---

<div class="relative p-1 my-10">
  <img
    alt="un dibujo de angelcgar, el dibujo fue echo con IA"
    src="/img/avatar.webp"
    class="mx-auto object-cover rounded-lg h-24 w-24"
  />
</div>
