---
import unnamed from "../imagenes/unnamed.png";
---

<a href="#" class="relative block">
  <img
    alt="profil"
    src={unnamed.src}
    class="mx-auto object-cover rounded-full h-20 w-20"
  />
</a>
