---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="link-card relative flex flex-col items-center justify-center w-full p-[1px] transition-all rounded-md bg-gradient-to-b from-white/20 via-transparent to-transparent hover:via-white/10"
>
  <h2 class="mt-4 text-2xl font-bold text-center text-white">
    {title}
    <span>&rarr;</span>
  </h2>
  <p class="mb-4 p-1">
    {body}
  </p>
</li>
<style>
  .link-card {
    list-style: none;
  }
</style>
