---
import Navigation from "./Navigation.astro";
import Hamburguer from "./Hamburguer.astro";
---

<header class="">
  <nav class="">
    <Hamburguer />
    <Navigation />
    <!-- <ThemeIcon /> -->
    <script>
      import "../scripts/menu.js";
    </script>
  </nav>
</header>
