---
import Navigation from "./Navigation.astro";
import Hamburguer from "./Hamburguer.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Enlace from "./subComponents/Enlace.astro";
---

<header class="">
  <nav class="">
    <Hamburguer />
    <Navigation />
    <!-- <ThemeIcon /> -->
  </nav>
</header>
