---
import BotonIcono from "./subComponents/BotonIcono.astro";
import TwitterIcon from "./subComponents/iconos/TwitterIcon.astro";
import GithubIcon from "./subComponents/iconos/GithubIcon.astro";
import InstagramIcon from "./subComponents/iconos/InstagramIcon.astro";
import EmailIcon from "./subComponents/iconos/EmailIcon.astro";
import LinkendinIcon from "./subComponents/iconos/LinkendinIcon.astro";
---

<footer class="bg-slate-900 w-full p-8 box-border">
  <div class="max-w-screen-lg px-4 mx-auto text-center">
    <BotonIcono href="https://twitter.com/AngelCo99356422">
      <TwitterIcon class="size-6 md:size-8" />
    </BotonIcono>

    <BotonIcono href="https://github.com/angelcgar">
      <GithubIcon class="size-6 md:size-8" />
    </BotonIcono>

    <BotonIcono href="https://www.instagram.com/ciudaddeangelo/">
      <InstagramIcon class="size-6 md:size-8" />
    </BotonIcono>

    <BotonIcono href="mailto:ac5802021@gmail.com">
      <EmailIcon class="size-6 md:size-8" />
    </BotonIcono>

    <BotonIcono href="https://www.linkedin.com/in/angel-contreras-b45a66290/">
      <LinkendinIcon class="size-6 md:size-8" />
    </BotonIcono>
    <span class="p-1 mt-3 block text-sm">
      &copy; 2023. Todos los derechos casi estan reservados.
    </span>
  </div>
</footer>
