---
import ButtonIcon from "./ButtonIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import LinkendinIcon from "../icons/LinkendinIcon.astro";
---

<footer class="bg-slate-900 w-full p-8 box-border">
  <div class="max-w-screen-lg px-4 mx-auto text-center">
    <ButtonIcon href="https://twitter.com/AngelCo99356422">
      <TwitterIcon class="size-6 md:size-8" />
    </ButtonIcon>

    <ButtonIcon href="https://github.com/angelcgar">
      <GithubIcon class="size-6 md:size-8" />
    </ButtonIcon>

    <ButtonIcon href="https://www.instagram.com/ciudaddeangelo/">
      <InstagramIcon class="size-6 md:size-8" />
    </ButtonIcon>

    <ButtonIcon href="mailto:ac5802021@gmail.com">
      <EmailIcon class="size-6 md:size-8" />
    </ButtonIcon>

    <ButtonIcon href="https://www.linkedin.com/in/angel-contreras-b45a66290/">
      <LinkendinIcon class="size-6 md:size-8" />
    </ButtonIcon>
    <span class="p-1 mt-3 block text-sm">
      &copy; 2023. Todos los derechos CASI estan reservados.
    </span>
  </div>
</footer>
