---
import Card from "./subComponents/Card.astro";
---

<div class="grid grid-cols-1 my-16 sm:grid-cols-2 gap-x-8 gap-y-8">
  <Card
    title="Mi carta"
    body="Este es el body de mi carta"
    href="Este es un href"
  />
  <Card
    title="Mi carta"
    body="Este es el body de mi carta"
    href="Este es un href"
  />
  <Card
    title="Mi carta"
    body="Este es el body de mi carta"
    href="Este es un href"
  />
</div>
