---
import Card from "./subComponents/Card.astro";
---

<div class="grid grid-cols-1 my-16 sm:grid-cols-2 gap-x-8 gap-y-8">
  <Card
    name="calculadora"
    title="Mi Calculadora"
    body="Este es mi calculadora mas importante de todos mis proyectos"
    href="https://amazing-queijadas-ba02d4.netlify.app/"
    imageHref="../../public/img/img.webp"
    github="https://github.com/angelcgar/calculadora-react"
  />
  <Card
    name="Lista de Tareas"
    title="Mi Lista de Tareas"
    body="Este es mi Lista de Tareas que fue hecho con React"
    href="https://poetic-quokka-826849.netlify.app/"
    imageHref="../../public/img/listaTareas.webp"
    github="https://github.com/angelcgar/aplicacion-react-tareas"
  />
  <Card
    name="Testimonios"
    title="Mi Proyecto sobre testimonios"
    body="Este es mi Proyecto en el cual hago uso de los componentes de React para poder renderizarlos en del lado del cliente"
    href="https://joyful-cannoli-81bf1e.netlify.app/"
    imageHref="../../public/img/testimonios.webp"
    github="https://github.com/angelcgar/testimonios"
  />
  <Card
    name="calculadora"
    title="Mi Calculadora"
    body="Este es mi calculadora mas importante de todos mis proyectos"
    href="https://amazing-queijadas-ba02d4.netlify.app/"
    imageHref="../../public/img/img.webp"
    github="https://github.com/angelcgar/calculadora-react"
  />
</div>
