---
import Enlace from "./Enlace.astro";
---

<div class="nav-links">
  <Enlace href="/contacto">Contacto</Enlace>

  <Enlace href="#sobre-mi">Sobre mí</Enlace>

  <Enlace href="#experiencia">Experiencia</Enlace>

  <Enlace href="#proyectos">Proyectos</Enlace>
</div>
