---
import Enlace from "./subComponents/Enlace.astro";
---

<div class="nav-links">
  <Enlace href="#sobre-mi">Sobre mí</Enlace>

  <Enlace href="#experiencia">Experiencia</Enlace>

  <Enlace href="#proyectos">Proyecto</Enlace>

  <Enlace href="#contacto">Contacto</Enlace>
</div>
