---
import Badge from "./Badge.astro";
import FileDescription from "../icons/FileDescription.astro";
---

<h1
  class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row text-white gap-x-4 pb-4 lg:pb-10"
>
  Hey, soy angelcgar <a
    href="https://www.linkedin.com/in/angel-contreras-b45a66290/"
    target="_blank"
    rel="noopener"
    class="flex justify-center items-center"
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
</h1>
<h2 class="text-base md:text-xl lg:text-2xl text-wrap max-w-[700px]">
  Un apasionado del mundo de la programación desde una edad temprana. Mi amor
  por los desafíos lógicos y mi constante curiosidad me llevaron a explorar el
  vasto universo de la informática.
</h2>

<button
  ><a href="/public/pdf/angelcg.pdf" download="angelcgar.pdf">
    <Badge><FileDescription />Resumen</Badge>
  </a>
</button>
