---
import Card from "./subComponents/Card.astro";
const PROJECTS = [
  {
    title: "Projecto 1",
    description: "lorem",
    link: "#",
    github: "#",
    image: "#",
  },
  {
    title: "Projecto 2",
    description: "lorem",
    link: "#",
    github: "#",
    image: "#",
  },
  {
    title: "Projecto 3",
    description: "lorem",
    link: "#",
    github: "#",
    image: "#",
  },
];
---

{
  PROJECTS.map(({ title, description }) => {
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
    </article>;
  })
}
<p>hola</p>
