---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import unnamed from "../image/unnamed.png";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={unnamed.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <!-- <Header /> -->
    <slot />

    <script>
      import "../scripts/menu.js";
    </script>
  </body><style is:global>
    html {
      font-family: system-ui, sans-serif;
      background: #000614f3;
      color-scheme: dark light;
      scroll-behavior: smooth;
    }
    body {
      display: flex;
      flex-direction: column;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
